* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  height: 100vh;
}
.col-md-6 {
  margin-top: 150px !important;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  border: 5px solid orange !important;
  border-radius: 30px !important;
  
}
.title {
  text-align: center;
}
input[type="button"] {
  width: 100%;
  background-color: aqua;
  color: blue;
  border: 3px solid orange;
  font-family: "Courgette", cursive;
  font-family: "Permanent Marker", cursive;
  font-weight: bolder !important;
}
input[type="text"] {
  width: 100%;
  border: 3px solid orange;
  border-radius: 10px;
}

h1 {
  font-family: "Courgette", cursive;
  font-family: "Permanent Marker", cursive;
  font-weight: bolder !important;
  margin-top: 15px !important;
  color: purple;
  font-size: 3rem !important; 
}
